{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block content %}

    <div class="example-wrapper">
    <h1>Hades KLM enzo startpage</h1>
    <p>Ik weet nog niet wat dit is, maar je bent het in ieder geval aan het lezen :)</p>
    <p>Moet nog even een snelle setup maken voor een mooier beeld</p>
</div>
{% endblock %}
