$defaultFontColor: #888;
$defaultHeaderColor: #555;

$bodyBackgroundColor: #666;
$contentBackgroundColor: rgb(253,253,252);
$headerBackgroundColor: #1f1915;
$footerBackgroundColor: #1f1915;




/*********** NAV ********/
$navTextColor: rgb(50, 33, 16);
$navTextHoverColor: #AAA;