<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ page.title }}{% endblock %} &bull; HADES DING</title>

    {% block stylesheets %}{% endblock %}
    {{ encore_entry_link_tags('website') }}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>


<header id="mainHeader">
    <div class="pageWidth">
        <div id="menuToggler">
            MENU
        </div>
        <div id="logoWrap">
            <a href="/">
                HOME / LOGO?
            </a>
        </div>
        <nav id="mainNav">
            <ul>
                <li>Items hier</li>
            </ul>
        </nav>
        <div id="user_account" style="float:right;">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <p>U bent ingelogd als: <b>{{ app.user }}</b>
                <div id="logout">
                    <a href="/logout">
                        Logout
                    </a>
                </div>
            {% else %}
                <div id="login">
                    <a href="/login">
                        Login
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</header>


<div id="mainContent">
    <div class="pageWidth">
        {% block content %}{% endblock %}
    </div>
</div>

<div id="menuPageOverlay"></div>

<div class="simpleModalBG"></div>


{#{{ encore_entry_script_tags('app') }}#}
{% block javascripts %}{% endblock %}
</body>
</html>
